.item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.on {
    color: rgb(163, 232, 170);
    padding-right: 10px;
    margin: 10px;
}

.off {
    background-color: rgb(219, 30, 30);
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: 10px;
}

.onlineStatus {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: rgb(99, 234, 113);
    border-radius: 8px;

    box-shadow: 0.1em 0.3em 0.3em rgba(26, 115, 13, 0.2);
}