.statistics{
display: block;
width: 512px;
background-color: aqua;
border-radius: 8px;
margin: 0 30px;
}

.title{
font-size: 30px;
font-weight: 700;
text-align: center;
color: #000;
margin-top: 12px;
margin-bottom: 12px;
}

.statList{
display: flex;
justify-content: center;
}

.item{
padding-top: 10px;
padding-bottom: 10px;
width: calc(100%/5);
text-align: center;
border-radius: 8px;

}
.label{
color: white;
}
.percentage{
display: block;
color: white;
padding: 8px 0;
}